<h2>Sign up</h2>


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal'}) do |f| %>
<%= devise_error_messages! %>
  <%= render 'devise/registrations/form', :f => f, :source => 'devise' %>           
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </div>
<% end %>