<div class="control-group">
  <%= f.label :message, class: 'control-label' %>
  <div class="controls">
    <%= f.text_area :message, class: 'input', rows: 5 %>
  </div>
</div>


<div class="control-group">
  <%= f.label :photo, class: 'control-label' %>
  <div class="controls">
    <%= f.file_field :photo, class: 'input' %>
  </div>
</div>