<h3>Add New Selfie</h3>

<%= form_for(@selfie, :html => { :class => 'form-horizontal'}) do |f| %>
	<%= render 'selfies/form', :f => f, :selfie => @selfie %>   
	<div class="control-group">
	  <div class="controls">
	    <button type="submit" class="btn btn-primary">Add</button>
	  </div>
	</div>
<% end %>