<% content_for :left_content do %>
	<%= render 'home/left_content' %>
<% end %>

<div class="alert alert-danger" role="alert">Nice try... But you don't have access to see this selfie or this book of challenges..</div>