<script type="text/javascript">
	$(function() {
		// Autoload selfies when user is scrolling the page down
		if ($('#home_list_selfies').length && $(".pagination").length) {
			$(window).scroll(function() {
				var url;
				url = $("#home_list_selfies a.next_page").attr("href");
					
				if (url && $(window).scrollTop() > ($(document).height() - $(window).height() - 400)) {        				
				  $("#home_list_selfies .pagination").text("Loading more challfies..");        
				  $.getScript(url);     
				}
			});
			$(window).scroll();
		}

		if(window.opener) {
		    window.opener.location.reload(true);
		    window.close()
		}
	});
</script>

<% content_for :right_content do %>
	<%= render 'users/friends_suggestions' %>
<% end %>

<% content_for :left_content do %>
	<%= render 'home/left_content' %>
<% end %>

<div id="home_list_selfies">	
	<div class="list_selfies">
		<%= render @selfies, :editable => true %>			
	</div>	
	<center><%= will_paginate @selfies %></center>	
</div>

