<div class='container'  style="background-color: white;">
	<h3>About Us</h3>	
	<%= link_to root_path, style: 'font-size: 14px;' do %>
	<i class="fa fa-angle-double-left"></i> <u>Back to homepage</u>
<% end %>
<br><br>
</div>