<script type="text/javascript">
	$(function() {				
		// close the Facebook pop-up when logged in and reload main page
		if (window.opener) {					
		   window.close();
		   window.opener.location.reload(true);
		}
	});
</script>
<div style="text-align: center; margin-right: 300px; margin-top: 20px;">
	Signing in with Facebook...
</div>