<div class='container' style="background-color: white; width: 700px;">
	<div class="extrapage_title">Halloween - Conditions of participation</div>
	<%= link_to root_path, style: 'font-size: 14px;' do %>
	<br><br>
	<i class="fa fa-angle-double-left"></i> <u>Back to homepage</u>

<% end %>
<br><br>

<span class="page_title">Qu'est-ce que le jeu "Challfie Halloween"</span>
<p>Challfie vous offre la possibilité de <strong>gagner des selfies stick</strong> en participant à notre édition limitée Challfie spécial Halloween.</p>

<span class="page_title">Conditions de participation</span>
<p>Chacune des conditions de participation ci-dessous doivent être <u>respectées pour pouvoir être éligible</u> et participer au jeu :
<ul>
<li>Vous devez être un utilisateur de Challfie</li>
<li>Vous devez Liker notre page Facebook <a href="https://www.facebook.com/challfie">Challfie</a></li>
<li>Vous devez avoir complété au minimum la moitié des challenges du niveau "Halloween"</li>
<li>Vous devez apparaître sur chacune de vos selfies</li>
<li>Vos selfies doivent correspondre aux challenges listés dans le niveau spécial Halloween. Les selfies seront vérifiés par un administrateur</li>
<li>Toutes les photos doivent être des selfies prise par vous-même ou un de vos amis présent sur la photo</li>
<li>Vos selfies doivent être approuvé sur Challfie</li>

</ul>

<span class="page_title">Comment participer au jeu "Challfie Halloween"</span>
<p>Très simplement en respectant toutes les conditions listées ci-dessus puis en écrivant un message sur notre page Facebook avec votre identifiant Challfie.</p>

<span class="page_title">Comment je gagne?</span>
<p>Cinq heureux vainqueurs parmi les participants éligibles seront tirés au sort le 30 Novembre 2015.<br> Nous annoncerons les vainqueurs sur la page Facebook et vous communiquerons directement par message Facebook.</p>

</div>
