<div class="container">
	<div class="row">	  
		  <div class="mobile_title">Challfie</div>
		  <div class="mobile_text">The new <strong>Social Network</strong> designed exclusively for <strong>Selfies.</strong></div>
	</div>
	<div class="row" style="text-align: center;">
		<%= link_to (image_tag "/assets/download_android.png"), "#" %>
	</div>
</div>	