<div class="container">
	<div class="row">	  

		  <div class="mobile_title"><%= image_tag "/assets/challfie_white.png", style: "width:215px;" %></div>
		  <div class="mobile_text">The new <strong>Social Network</strong> designed exclusively for <strong>Selfies.</strong></div>
	</div>
	<div class="row" style="text-align: center; margin-bottom: 30px;">
		<% if @is_iphone %>
			<%= link_to (image_tag "/assets/download_ios.png", style: "width: 170px;"), "#" %>
		<% else %>
			<%= link_to (image_tag "/assets/download_android.png", style: "width: 170px;"), "#" %>
		<% end %>
	</div>
	<div class="row" style="text-align:center">
		<%= image_tag "/assets/logo_master.png", style: "height: 120px;" %>
	</div>
</div>	