<div class="container">
<h3>Terms and Conditions</h3>
<%= link_to root_path, style: 'font-size: 14px;' do %>
	<i class="fa fa-angle-double-left"></i> <u>Back to homepage</u>
<% end %>
<br><br>

<p>Please read these Terms of Service carefully before using the Challfie website (the "Service").</p>

<p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>

<p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>

<span class="page_title">Accounts</span>
<p>You must be at least 13 years of age to use our website; and by using our website or agreeing to these terms and conditions, you warrant and represent to us that you are at least 13 years of age.</p>

<p>When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.</p>

<p>You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.</p>

<p>You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</p>    

<p>You must notify us in writing immediately if you become aware of any unauthorised use of your account or any disclosure of your password.</p>
<p>You must not use any other person's account to access the website.</p>
<p>Your user ID must not be liable to mislead and must comply with the content rules; you must not use your account or user ID for or in connection with the impersonation of any person. </p>
<p>You are responsible for any activity on our website arising out of any failure to keep your password confidential, and may be held liable for any losses arising out of such a failure.</p>

<span class="page_title">Acceptable Use</span>
<p>You must not:</p>
<ul><li>(a)	use our website in any way or take any action that causes, or may cause, damage to the website or impairment of the performance, availability or accessibility of the website;</li>
<li>(b)	use our website in any way that is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity;</li>
<li>(c)	use our website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software;</li>
<li>(d)	conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to our website without our express written consent;</li>
<li>(e)	access or otherwise interact with our website using any robot, spider or other automated means;</li>
<li>(f)	use data collected from our website for any direct marketing activity (including without limitation email marketing, SMS marketing, telemarketing and direct mailing)</li>
<li>(g) use data collected from our website to contact individuals, companies or other persons or entities.</li></ul>

<span class="page_title">Content</span>
<u>Rules</u><br>
<p>You warrant and represent that your content will comply with these terms and conditions.</p>
<p>Your content must not be illegal or unlawful, must not infringe any person's legal rights, and must not be capable of giving rise to legal action against any person (in each case in any jurisdiction and under any applicable law).</p>
<p>Your content, and the use of your content by us in accordance with these terms and conditions, must not:</p>
<ul><li>be libellous or maliciously false;</li>
<li>be obscene or indecent;</li>
<li>infringe any copyright, moral right, database right, trade mark right, design right, right in passing off, or other intellectual property right;</li>
<li>infringe any right of confidence, right of privacy or right under data protection legislation;</li>
<li>constitute negligent advice or contain any negligent statement;</li>
<li>constitute an incitement to commit a crime;</li>
<li>be in contempt of any court, or in breach of any court order;</li>
<li>be in breach of racial or religious hatred or discrimination legislation;</li>
<li>be blasphemous;</li>
<li>be in breach of official secrets legislation;</li>
<li>be in breach of any contractual obligation owed to any person;</li>
<li>depict violence, in an explicit, graphic or gratuitous manner;</li>
<li> be pornographic;</li>
<li>constitute spam;</li>
<li>be offensive, deceptive, fraudulent, threatening, abusive, harassing, anti-social, menacing, hateful, discriminatory or inflammatory;</li>
<li>cause annoyance, inconvenience or needless anxiety to any person.</li></ul>

<u>License</u><br>
<p>In these terms and conditions, "your content" means all works and materials (including without limitation text, graphics, images, audio material, video material, audio-visual material, scripts, software and files) that you submit to us or our website for storage or publication on, processing by, or transmission via, our website.</p>
<p>You grant to us a royalty-free licence to use, reproduce, store, adapt, publish, translate and distribute your content in any existing or future media / reproduce, store and publish your content on and in relation to this website and any successor website.</p>
<p>You hereby waive all your moral rights in your content to the maximum extent permitted by applicable law; and you warrant and represent that all other moral rights in your content have been waived to the maximum extent permitted by applicable law.</p>
<p>You may edit your content to the extent permitted using the editing functionality made available on our website.</p>
<p>Without prejudice to our other rights under these terms and conditions, if you breach any provision of these terms and conditions in any way, or if we reasonably suspect that you have breached these terms and conditions in any way, we may delete, unpublish or edit any or all of your content.</p>


<span class="page_title">Termination</span>

<p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>

<p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>

<p>We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>

<p>Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.</p>

<p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>

<span class="page_title">Governing Law</span>

<p>These Terms shall be governed and construed in accordance with the laws of California, United States, without regard to its conflict of law provisions.</p>

<p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>

<span class="page_title">Copyright Notice</span>
<p>The trademarks, names, logos and service marks (collectively “trademarks”) displayed on this website are registered and unregistered trademarks of the website owner. Nothing contained on this website should be construed as granting any license or right to use any trademark without the prior written permission of the website owner. The written content displayed on this website is owned by its respective author and may not be reproduced in whole, or in part, without the express written permission of the author.</p>
<p>Copyright (c) 2014-2015 @ Challfie.com</p>
<p>Subject to the express provisions of these terms and conditions:
<ul><li>(a) we, together with our licensors, own and control all the copyright and other intellectual property rights in our website and the material on our website; and</li>
<li>(b) all the copyright and other intellectual property rights in our website and the material on our website are reserved</li></ul>
</p>

<span class="page_title">Links To Other Web Sites</span>

<p>Our Service may contain links to third-party web sites or services that are not owned or controlled by Challfie.</p>

<p>Challfie has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Challfie shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>

<p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</p>

<span class="page_title">Modifications</span>

<p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>

<p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>

<em>Last updated: September 29, 2014</em><br>
<em>Generated by TermsFeed</em>
