<div class="container" style="background-color: white;">
	<h2 style="text-align:center;">Sorry.. An error has occured..</h2>
  <div style="width: 800px; margin: auto;">
    
     <br>
  		<%= link_to (image_tag "/assets/logo_master.png", style: "width: 200px; margin-left: 150px;"), root_path, class: "pull-left;" %><p style="width: 400px;font-size: 15px; float: right;">We're sorry, an error has occured while performing your request. <br><br>Please try again in a few moments. As a reminder, Challfie is still in a Beta phase so if the error persists, please <u>report a bug</u> on the <%= link_to "Contact page", new_contact_path %>.<br><br>
  		We'll do our best to address this matter as soon as possible.<br><br>
  		Click <%= link_to "here", root_path %> to go back to the homepage<br><br>

  		The Challfie Team</p>
  		<br><br>
  	     
  </div>  
  <br><br>
</div>
<br><br>