@import "colors";
// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show_all_comment {
	text-align: center;
	margin: auto;
	height: 25px;	
	border-bottom: 0.01em dashed darken($mygrey, 5%);
	margin-bottom: 10px;
	font-style : italic;
	a {
		
		font-size: 11px;
		color: $mygreen;
	}
}