// Place all the styles related to the extrapages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mobile_title {
	font-family:"Chinacat", "Century Gothic","Tahoma","Geneva","Arial";
	font-size: 20px;
	color: #FFFFFF;
	margin-bottom: 20px;
	text-align: center;
}

.mobile_text {
	font-family:"Century Gothic","Tahoma","Geneva","Arial";
	font-size: 18px;
	color: #FFFFFF;
	margin-bottom: 50px;
	text-align: center;
}

.under_menu {
	width: auto;
	background-color: #30768A;
	height: 30px;
	position: relative;

	
	.triangle {
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		bottom: -10px;
		left: 0;
		right: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 12.5px 10px 12.5px;
		border-color: transparent transparent #ffffff transparent;
	}
}

.extrapage_title {
	font-family:"Chinacat", "Century Gothic","Tahoma","Geneva","Arial";
	font-size: 20px;
	font-weight: 600;
	margin-top: 20px;
	text-align: center;
}
