// Place all the styles related to the selfies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

#home_list_selfies {
	float: left;
	width: 550px;
	margin-right:30px;	
}


.selfie_post {
	padding: 20px 20px 20px 20px;
	background-color: #FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid $mydarkgrey;
	box-shadow: 0 0 10px 3px $mydarkgrey;
	-moz-box-shadow: 0 0 10px 3px $mydarkgrey;
  	-webkit-box-shadow: 0 0 10px 3px $mydarkgrey;
	margin-bottom: 15px;
}

.selfie_post_user_username_challenge {
	width: 410px;
	
}

.selfie_post_user {
	width: auto;
	margin-bottom: 5px;
	height: 75px;

	img {
		width: 65px;
		height: 65px;
	}

	.selfie_post_user_username a {
		color: $mygreen;
		font-weight: 600;
		font-size: 14px;
		margin-top:3px;
		font-family:"Chinacat", "Century Gothic","Tahoma","Geneva","Arial";
	}

	.selfie_post_user_username a:hover, .selfie_post_user_username a:focus {
		text-decoration: none;
		color: lighten($mygreen, 10%);
	}

	.selfie_post_user_username a:visited {
		text-decoration: none;
	}

	.selfie_post_user_challenge {
		font-size: 12px;
		line-height: 14px;
		margin-bottom: 8px;
		display: block;
		font-family:"Chinacat", "Century Gothic","Tahoma","Geneva","Arial";
		color: #575757;
	}

	.selfie_post_date {
		font-size: 12px;
		color: gray;
		font-style: italic;

	}
}

.selfie_post_message {
	font-size: 13px;
	margin-bottom: 15px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.selfie_image {
	position: relative;

	.selfie_challenge_status_img {
		position: absolute;
		right: -10px;
		top: -10px;

		img {
			width: 80px;
		}
	}

}



.selfie_post_comment_block {
	background-color: $mygrey;
}

.selfie_vote_block {
	height: 40px;	
	padding: 10px;

	.selfie_nb_vote_block {
		float: right;		
	}

	.vote_green {
		color: green;		
	}

	.vote_red {
		color: red;
	}
}

.btn-vote {
	font-size: 12px;
	margin-right: 15px;
	color: black;
	
	.approve_button:focus, .approve_button:hover {
		color: green;
	}

	.disapprove_button:focus, .disapprove_button:hover {
		color: red;
	}
}

.selfie_post_comment_existing {	
	padding: 10px 10px 0px 10px;
}

.selfie_post_comment_existing_username a {
	color: $mygreen;
	font-weight: 600;
	
	margin-right: 20px;
	font-family:"Chinacat", "Century Gothic","Tahoma","Geneva","Arial";
}

.selfie_post_comment_existing_username a:hover, .selfie_post_comment_existing_username a:focus {
	color: lighten($mygreen, 10%);
	text-decoration: none;
}


.selfie_post_comment_existing_date {
	font-size: 11px;
	color: gray;
	font-style: italic;	
}

.selfie_post_comment_create {
	padding: 10px;

	textarea {
		height: 35px;
		font-size: 14px;
		padding-left:10px;
		font-family: "Tahoma, Arial";
	}
}

#filter_challenge_field, #filter_challenge {
	font-size: 12px;
	height: 26px;	
	padding: 0px 10px 0px 10px;
}

#preview_selfie {
	margin-left: 10px;
	padding-top: 0px;
	height: 67px;
	width: 67px;
   border: 1px solid darken($mygrey, 10%);
   float: left;
   vertical-align: middle;
   text-align: center;
   line-height: 32px;
   color:darken($mygrey, 30%); 

   img {
   	height: 67px;
		width: 67px;
   }
}

.thumb  {
    height: 65px;
    margin: 0px 0px 0px 0px;
    width: 65px;
}



.file-input-name {
	display: none;
}


textarea.selfie_message_textarea {
	width: 480px;
	float: left;
	height: 67px;
}

#selfie_file {
	clear: both;
}

.selfie_dropdown {	
	color: lighten($mygreen, 30%);	
}

.one_selfie_show {
	float: left;
	width: 550px;
	margin-right:30px;
}

.private_radio_btn + label {
	font-size: 8px;
	padding: 0px 6px;
}

.btn.upload_btn {
	color: #000000;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	font-size: 11px;	
	padding: 5px;
	background-color: transparent;
	background-image: none;
	border: none;
	box-shadow: none;
	margin-left: 10px;
}

.btn.upload_btn:hover {
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}

.webcam_preview, .user_webcam_preview {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	width: 100%;
	height: 270px;
	overflow: hidden;
}

#webcam {
	width: 330px;
	height: 250px;
	overflow: hidden;
	float:left;
}

.take_snapshot {
	margin-top: 50px;
	text-align: center;
	padding: 10px;
	float: left;
	width: 200px;
	height: 250px;	
}

input[type=radio].check_radio_btn + label {
    font-weight: 600;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    background-color: #dff0d8;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    color: #3c763d;
}

.btn-facebook {	
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #4d68a1;
    background-image: linear-gradient(to bottom, #4d68a1, #3d5a99);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #3d5a99;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    line-height: 22px;
    margin: -2px -2px 0 10px;
    padding: 3px 12px;
    text-align: center;
    
    vertical-align: middle;
}

.btn-facebook-disable {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #b3b3b3;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #cacccc;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    margin: -2px -2px 0 10px;
    padding: 3px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

a.btn-facebook-disable:focus, a.btn-facebook:hover, a.btn-facebook:focus {
	text-decoration: none;
	color: #FFFFFF;
}

a.btn-facebook-disable:hover {
	color: #4d68a1;
}