<% content_for :left_content do %>
	<%= render 'home/left_content' %>
<% end %>

<h3>List of All Categories</h3>

<% @categories.each do |category| %>
	Name : <%= category.name %><br>
	
	<br><br>
<% end %>