<h3> Add a category </h3>
<%= form_for(@category, :html => { :class => 'form-horizontal'}) do |f| %>
	<%= render 'categories/form', :f => f %>   
	<div class="control-group">
	  <div class="controls">
	    <button type="submit" class="btn btn-primary">Add</button>
	  </div>
	</div>
<% end %>