<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Welcome to Challfie</title>
  <style type="text/css">
  body, td { color:#000000; font-size:14px; font-family:Verdana,Helvetica,Arial; }
  .divider { background-color:#555555; height:2px; }
  h2 { margin-top:0; margin-bottom:4px; font-size:18px; }
  
  img { border:solid 1px #777777; }
  span { font-size:12px;color:#919191; font-style: italic;}
  #footer { font-size:11px; color:#555555; }
  #footer a { color:#555555;}
  </style>
</head>
<body>
  <table width="650" id="background" border="0" cellpadding="0" cellspacing="0" style="margin:auto;">
    <tr><td align="left" valign="top">
      <table width="650" id="main" border="0" cellpadding="0" cellspacing="20" style="margin:auto;">
	         <tr>	         	
	           <td id="header" colspan="4" align="center">
	            <%= link_to root_url do %>
	              <img src="http://challfie.com/assets/challfie_letter_white.png" alt="Challfie Logo" width="400" style="display:block; border: none;" />            
	            <% end %>  
	           </td>	           
	         </tr>
	         <tr>
	           <td class="divider" colspan="4" bgcolor="#555555" height="2"></td>
	         </tr>    

	       	<tr><td colspan="4">  
	       		<br>Hello <%= @resource.username %>!</br>

					<br>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</br>

					<br>Click the link below to unlock your account:

					<br><%= link_to 'Unlock my account', unlock_url(@resource, :unlock_token => @token) %><br>     	 
	            

					<br>
				  	The Challfie Team.							  
	       	</td></tr>
	       	    
      </table>
    </td>
    </tr>
  </table>
</body>
</html>





